In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('battles.csv')

In [4]:
data.describe()

,End,Belligerents,Offence,Defence,Casualties,Casualties Offence,Casualties Defence,Size
count,0.0,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,NaN,192165.923077,87620.307692,104545.615385,48075.153846,20968.923077,27106.230769,192165.923077
std,NaN,173800.499435,72955.387860,106153.108427,37175.941239,24996.106198,15685.702769,173800.499435
min,NaN,31.000000,14.000000,17.000000,4900.000000,900.000000,3700.000000,31.000000
25%,NaN,46000.000000,24000.000000,22000.000000,15447.000000,5600.000000,13781.000000,46000.000000
50%,NaN,157000.000000,72000.000000,84000.000000,43000.000000,9000.000000,27000.000000,157000.000000
75%,NaN,308000.000000,150000.000000,150000.000000,75000.000000,41250.000000,38000.000000,308000.000000
max,NaN,605000.000000,225000.000000,380000.000000,134000.000000,80000.000000,54000.000000,605000.000000